[tool.ruff]
# Same as Black.
line-length = 88
indent-width = 4

src = ["libs/spandrel", "libs/spandrel_extra_arches"]

lint.extend-select = [
    "ANN001",
    "ANN002",
    "T201",   # no print
    "B",      # bugbear
    "C4",     # comprehensions
    "E",      # pycodestyle
    "F",      # pyflakes
    "FA",     # flake8-future-annotations
    "I",      # isort
    "N",      # pep8-naming
    "SIM",    # simplify
    "UP",     # pyupgrade
    "W",      # pycodestyle
]
lint.ignore = [
    "E501",   # Line too long
    "N814",   # Camelcase imported as constant
    "N999",   # Invalid module name
    "SIM105", # `contextlib.suppress()` has a performance cost, so disabled
    "SIM108", # Ternary operators can be unreadable, so disabled
    "SIM117", # Non-nested with statements make for long lines, so disabled
    "SIM118", # `.keys()` might be a false positive, so disabled
]

[tool.ruff.lint.per-file-ignores]
"**/__arch_helpers/**/*" = ["N", "ANN"]
"**/__arch/**/*" = ["B006", "B007", "B008", "N", "ANN", "SIM102", "SIM114"]
"**/{tests,scripts}/**/*" = ["N802", "ANN", "T201"]

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning", "ignore::UserWarning"]
pythonpath = ["libs/spandrel", "libs/spandrel_extra_arches"]

[tool.pydoctor]
project-name = "spandrel"
add-package = ["libs/spandrel/spandrel", "libs/spandrel_extra_arches/spandrel_extra_arches"]
project-url = "https://github.com/chaiNNer-org/spandrel"
docformat = "restructuredtext"
warnings-as-errors = false
make-html = true
html-output = "docs"
theme = "readthedocs"
privacy = [
    "HIDDEN:spandrel.__version__",
    "HIDDEN:spandrel.__helpers",
    "HIDDEN:spandrel.architectures.*.__arch",
    "PRIVATE:spandrel.canonicalize_state_dict",
    "HIDDEN:spandrel_extra_arches.__version__",
    "HIDDEN:spandrel_extra_arches.__helper",
    "HIDDEN:spandrel_extra_arches.architectures.*.__arch",
]
